@keyframes fade-in {
  from {
    color: rgba(230, 240, 245, 1);
  }
  to {
    color: rgba(35, 35, 35, 1);
  }
}

@keyframes border-fade-in {
  from {
    border-color: rgba(230, 240, 245, 1);
  }
  to {
    border-color: rgba(35, 35, 35, 1);
  }
}

h1 {
  padding-top: 30px;
  color: rgba(35, 35, 35, 1);
  font-family: 'Josefin Sans';
  font-size: 400%;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

body {
  background-color: rgba(230, 240, 245, 1);
}

p {
  color: rgba(230, 240, 245, 1);
  font-family: 'Josefin Sans';
  font-size: 100%;
  animation-delay: 2s;
  animation-name: fade-in;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

div.infoParaContainer {
  color: rgba(230, 240, 245, 1);
  position: absolute;
  text-align: center;
  font-size: 125%;
  bottom: 10%;
  right: 40%;
}

div.update {
  position: absolute;
  font-family: 'Josefin Sans';
  top: 0;
  left: 0;
  color:rgba(230, 240, 245, 1);
  font-size: 140%;
  width: 340px;
  animation-delay: 2s;
  animation-name: fade-in;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

div.about {
  position: absolute;
  font-family: 'Josefin Sans';
  top: 0;
  right: 0;
  color:rgba(230, 240, 245, 1);
  font-size: 150%;
  width: 180px;
  animation-name: fade-in;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

div.infoBoxIntro {
  position: absolute;
  font-family: 'Josefin Sans';
  width: 160px;
  height: 160px;
  border-color: rgba(230, 240, 245, 1);
  animation-name: border-fade-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  background-color: rgba(230, 240, 245, 1);
}

div.infoBoxProj {
  position: absolute;
  font-family: 'Josefin Sans';
  width: 160px;
  height: 160px;
  border-color: rgba(230, 240, 245, 1);
  animation-name: border-fade-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  background-color: rgba(230, 240, 245, 1);
}

div.infoBoxExp {
  position: absolute;
  font-family: 'Josefin Sans';
  width: 160px;
  height: 160px;
  border-color: rgba(230, 240, 245, 1);
  animation-name: border-fade-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  background-color: rgba(230, 240, 245, 1);
}

div.infoBoxAct {
  position: absolute;
  font-family: 'Josefin Sans';
  width: 160px;
  height: 160px;
  border-color: rgba(230, 240, 245, 1);
  animation-name: border-fade-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  background-color: rgba(230, 240, 245, 1);
}

div.boxTitle {
  position: absolute;
  font-family: 'Josefin Sans';
  width: 160px;
  height: 175px;
  font-size: 150%;
  color:rgba(230, 240, 245, 1);
  text-align: center;
  animation-name: fade-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

div.imgBox {
  position: absolute;
  bottom: 35%;
  right: 50%;
  width: 20px;
  height: 20px;
}

div.mobile {
  position: absolute;
  font-family: 'Josefin Sans';
  bottom: 0;
  right: 41.5%;
  color:rgba(230, 240, 245, 1);
  height: 70px;
  width: 260px;
  font-size: 8pt;
  text-align: center;
  border-color:rgba(230, 240, 245, 1);;
  border: solid 2px;
  font-size: 150%;
  animation-name: fade-in, border-fade-in;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-duration: 4s;
}

div.header {
  padding-top: 30px;
}
  
