body {
  background-color:rgba(230, 240, 245, 1);
  }
  
h1 {
  font-family: 'Josefin Sans';
  background-color:rgba(230, 240, 245, 1);
  color: rgba(35, 35, 35, 1);
  text-align: center;
  }
  
div.para {
  font-family: 'Josefin Sans';
  color: rgba(35, 35, 35, 1);
  font-size: 140%;
  margin-left: 15%;
  margin-right: 15%;
  background-color:rgba(230, 240, 245, 1);
  }
 
 div.chart {
  font-family: 'Josefin Sans';
  background-color: rgba(230, 240, 245, 1);
  color: rgba(35, 35, 35, 1);
}

div.bar {
  font-family: 'Josefin Sans';
  color: rgba(35, 35, 35, 1);
  text-align: right;
  padding: 3px;
  margin: 1px;
  background-color: rgba(35, 35, 35, 1);
}

div.backButton {
  position: absolute;
  top: 0%;
  left: 0%;
  font-family: 'Josefin Sans';
  font-size: 150%;
  text-align: center;
  color: rgba(35, 35, 35, 1);
  border: solid 3px;
  cursor: pointer;
  }
